<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Jeddit</title>
  </head>
  <body>
    <h1>JEDDIT</h1>
    <h2>edit Post</h2>
    <form action="/posts/edit/<%= post.id %>" method="POST">
      <label for="titleInput">Title</label>
      <input
        value="<%= post.title %>"
        type="text"
        id="titleInput"
        name="title"
      />

      <label for="subgroupInput">Subgroup</label>
      <input
        value="<%= post.subgroup %>"
        type="text"
        id="subgroupInput"
        name="subgroup"
      />

      <label for="descriptionInput" required>Description</label>
      <textarea name="description" id="descriptionInput" cols="30" rows="10">
<%= post.description %></textarea
      >

      <button type="submit">Edit Post</button>
    </form>
  </body>
</html>
