<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Post Info</title>
  </head>
  <body>
    <h1>JEDDIT</h1>
    <h2>Post Info</h2>
    <ul>
      <p><%= postInfo.title %></p>
      <a href="<%= postInfo.link %>">Link</a>
      <p><%= postInfo.timestamp %></p>
    </ul>

  </body>
</html>