<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Subs List</title>
  </head>
  <body>
    <h1>JEDDIT</h1>
    <h2>Subs list</h2>
    <ul>
      <% posts.forEach(post => { %>
      <div id="eachSubs">
        <p>
          <a href="/subs/show/<%= post %>"><%= post %></a>
        </p>
      </div>
      <% }) %>
    </ul>
  </body>
</html>
